.main-links {
  margin: 0 auto;
  max-width: 960px;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
}

.email-link-container {
  display: flex;
  flex: 1;
  align-items: center;
}

.main-link-container {
  display: flex;
  align-items: center;
}

.main-link {
  font-weight: bold;
  font-size: 16px;
  margin: 0px 10px;
  line-height: 145%;
  text-align: right;
  color: #FFFFFF;
  text-decoration: none;
  padding: 5px 10px;
  transition: 0.2s;
}

.main-link:hover {
  background-color: #004AB8;
  border-radius: 5px;
  padding: 5px 10px;
}

.section {
  margin: 0 auto;
  max-width: 1260px;
  padding: 5rem 1.0875rem;
}

.intro-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-header {
  font-family: Avenir;
  font-weight: 900;
  font-size: 80px;
  line-height: 145%;
  letter-spacing: -0.05em;
  color: #FFFFFF;
  margin-bottom: 0;
}

.secondary-header {
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 61px;
  line-height: 92%;
  text-align: center;
  letter-spacing: -0.04em;
  color: #101010;
  margin-top: 2rem;
  padding-bottom: 2rem;
}

.header-intro {
  max-width: 544px;
  font-weight: normal;
  font-size: 18px;
  line-height: 145%;
  color: #FFFFFF;
  text-align: center;
}

.main-button {
  padding: 0.8rem 2rem;
  background: #FFFFFF;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  line-height: 145%;
  color: #3D404D;
  cursor: pointer;
  text-decoration: none;
}

.main-button:hover {
  background: #F8F8F8;
}

.secondary-button {
  width: 77px;
  height: 45px;
  background: #417ae1;
  border-color: #417ae1;
  border-radius: 5px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 145%;
  color: #FFFFFF;
  cursor: pointer;
  margin-left: 1rem;
}

.secondary-button:hover {
  background-color: #3c75dc;
}

.cards-container {
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;
}

.cards-container:last-child {
  margin-bottom: 4rem;
}

.card {
  flex: 1 1 400px;
  max-width: 580px;
  margin: 16px;
  min-height: 431px;
  background: #004AB8;
  border-radius: 5px;
  z-index: 4;
  overflow: hidden;
}

.card-body {
  padding: 30px;
}

.card-title {
  font-size: 22px;
  line-height: 145%;
  color: #FFFFFF;
}

.card-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 145%;
  text-align: left;
  color: #FFFFFF;
}

.card-link {
  font-weight: bold;
  font-size: 16px;
  line-height: 145%;
  text-decoration-line: underline;
  color: #FFFFFF;
  margin-top: 1.45rem;
}

.card-link:not(:first-child) {
  margin-left: 40px;
}

.journey-section {
  margin: 0 auto;
  padding: 5rem 1.0875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
}

.content {
  max-width: 545px;
}

.main-text {
  font-weight: normal;
  margin-bottom: 4rem;
  font-size: 18px;
  line-height: 145%;
  text-align: center;
  color: #101010;
}

.text-white {
  color: #FFFFFF;
}

.year-divider {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  font-size: 14px;
  line-height: 145%;
  color: #C8C8C8;
}

.contact-section-container {
  display: flex;
  flex-direction: row;
}

.contact-section-left {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  padding-right: 1rem;
}

.contact-section-left h3 {
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 39px;
  line-height: 122%;
  letter-spacing: -0.04em;
  color: #FFFFFF;
}

.contact-section-left h4 {
  font-weight: bold;
  font-size: 18px;
  line-height: 145%;
  color: #FFFFFF;
  margin-bottom: 0.8rem;
}

.contact-section-left p {
  font-weight: 500;
  font-size: 14px;
  line-height: 145%;
  color: #FFFFFF;
}

.contact-section-right {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 30px;
  overflow: hidden;
}

.email-link {
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 29px;
  line-height: 122%;
  letter-spacing: -0.04em;
  margin: 1rem 0;
  color: #FFFFFF;
}

.gatsby-image-wrapper {
  width: 100%;
}

@media screen and (max-width: 819px) {
  .cards-container {
    justify-content: center;
  }
  .contact-section-container {
    justify-content: center;
    text-align: center;
  }
  .contact-section-left {
    max-width: 545px;
  }
  .contact-section-right {
    display: none;
  }
  .contact-section-left h3 {
    font-size: 36px;
  }
  .main-links {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 480px) {
  .main-header {
    font-size: 60px;
  }
  .header-intro {
    font-size: 16px;
  }
  .secondary-header {
    font-size: 51px;
  }
  .main-text {
    font-size: 16px;
  }
  .email-link {
    font-size: 22px;
  }
  .email-link-container {
    margin-bottom: 20px;
  }
  .secondary-button {
    font-size: 14px;
  }
  .content {
    padding: 50px 30px;
  }
  .card-text, .card-link {
    font-size: 14px;
  }
}

@media screen and (max-width: 360px) {
  .main-header {
    font-size: 50px;
  }
  .header-intro {
    font-size: 14px;
  }
  .secondary-header {
    font-size: 41px;
  }
  .main-text {
    font-size: 14px;
  }
  .email-link {
    font-size: 18px;
  }
  .email-link-container {
    margin-bottom: 16px;
  }
  .card {
    margin: 16px 0;
  }
}